.body-cont {
    background-color: #3FEEE6;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 97%;
    height: 160vh;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;

}

.body-main {
    display: flex;
    justify-content: space-between;

}

.body-image img,
.body-content img {
    width: 100%;
    max-width: 700px;
}

.body-content {
    font-size: medium;
    font-weight: bold;
    font-family: monospace;
    padding-left: 5px;
    padding-right: 8px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .body {
        width: 90%;
        margin: 10px auto;
    }

    .body-main {
        flex-direction: column;
        align-items: center;
    }

    .body-image img,
    .body-content img {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .body-content {
        font-size: small;
    }
}