.Home-main {
    width: 97%;
    padding: 10px;
    margin: 10px 15px;
    border-radius: 8px;
    background-color: #ebf6f5;
}

.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10px;
    border-radius: 8px;
    color: #f9004d;
    background-size: cover;
    animation: animate 17s ease-in-out infinite;
}

@keyframes animate {

    0%,
    /*  {
        background-image: url('./src/image/home p1.jpg');
    } */

    100% {
        background-image: url('./src/image/house.jpg');
    }

    20% {
        background-image: url('./src/assets/home.jpg');
    }

    40% {
        background-image: url('./src/image/house.jpg');
    }

    % {
        background-image: url('./src/assets/hp2.jpg');
    }

    80% {
        background-image: url('./src/assets/hp4.jpeg');
    }
}

.content-main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tag img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;


}

.tag img:hover {
    transform: scale(1.01);
}

@media screen and (max-width: 768px) {
    .content-main {
        height: auto;
    }

    .content-main1 {
        height: auto;
    }

    .tag {
        flex-direction: column;
        align-items: center;
    }

    .tag img {
        margin-bottom: 20px;
    }
}