.main {
    background-color: #ebf6f5;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 97%;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
}

.signup-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding: 20px;
}

.signup-content2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

label {
    font-weight: bolder;
}

input {
    padding: 5px;
    border-radius: 8px;
}

p {
    color: red;
}

img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .main {
        flex-direction: row;
    }

    .signup-content1 {
        border-radius: 8px;
        margin-right: 20px;
    }

    .signup-content2 {
        border-radius: 8px;
        margin-left: 20px;
    }
}